.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: flex-end;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.header .link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2em;
}

.content {
  padding: 20px;
}

.categories-list {
  text-align: left;
}

.category {
  margin-bottom: 20px;
}

.category-title {
  margin: 0;
  padding: 5px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

.pdf-list {
  list-style-type: none;
  padding: 0;
}

.pdf-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 0;
}

.download-icon {
  cursor: pointer;
  color: #007bff;
}
